.photoContainer__text {
  font-family: Roboto, sans-serif;
  font-size: 2em;
  line-height: 1.6;
  letter-spacing: 0em;
  text-align: left;
  max-width: 100%;
  transition: font-size 0.3s ease;
}

@media screen and (max-width: 767px) {
  .photoContainer__text {
    font-size: 1.6em;
  }
}
